.nav {
   z-index: 5;
   img {
      height: 50px;
      position: absolute;
      top: 6px;
      left: 10px;
   }
   nav {
      max-width: 1250px;
      margin: auto;
      justify-content: center;
      a {
         padding: 0 20px;
         font-size: 18px;
      }
   }
}

.index {
   header {
      width: 100%;
      min-height: 100vh;
      color: white;

      .background {
         // filter: grayscale(0.7);
         height: 100vh;
         width: 100%;
         background-image: url('./assets/pexels-pixabay-209969\ \(1\).jpg');
         background-position: top;
         background-size: cover;
      }

      h1 {
         position: absolute;
         top: 30vh;
         width: 100%;
         text-align: center;
         text-transform: uppercase;
         font-size: 50px;
         font-weight: 400;

         .red-text {
            color: red;
            font-weight: 800;
         }
      }
   }
}

.about {
   padding-top: 200px;
   color: black;
   text-align: center;
}

.products {
   padding-top: 200px;
   color: black;
   text-align: center;
}

.apparel {
   padding-top: 200px;
   color: black;
   text-align: center;
}

.contact {
   padding-top: 200px;
   color: black;
   text-align: center;
}
