/* styles/global/globals.css */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html body,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html p,
html ol,
html ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-weight: bold;
}

html ol,
html ul {
  list-style: none;
}

html img {
  max-width: 100%;
  height: auto;
}

html a {
  color: inherit;
  text-decoration: none;
}

.App {
  width: 100%;
}

.App * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App a {
  color: inherit;
  text-decoration: none;
}

.carousel {
  background-color: #f8f8f8;
  position: relative;
  height: 500px;
  overflow-x: hidden;
}

.carousel button {
  z-index: 2;
  position: absolute;
  height: 50px;
  background-color: red;
  border: none;
  border: 2px solid transparent;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  cursor: pointer;
}

.carousel button hr {
  background-color: white;
  border: none;
  height: 2px;
  width: 20px;
  border-radius: 2px;
}

.carousel button.left {
  left: 20px;
  top: 45%;
}

.carousel button.left .top {
  -webkit-transform: translateY(-3px) translateX(-1px) rotate(-45deg);
          transform: translateY(-3px) translateX(-1px) rotate(-45deg);
}

.carousel button.left .bottom {
  -webkit-transform: translateY(2px) translateX(-1px) rotate(45deg);
          transform: translateY(2px) translateX(-1px) rotate(45deg);
}

.carousel button.right {
  right: 20px;
  top: 45%;
}

.carousel button.right .top {
  -webkit-transform: translateY(-3px) translateX(1px) rotate(45deg);
          transform: translateY(-3px) translateX(1px) rotate(45deg);
}

.carousel button.right .bottom {
  -webkit-transform: translateY(2px) translateX(1px) rotate(-45deg);
          transform: translateY(2px) translateX(1px) rotate(-45deg);
}

.carousel button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: white;
  border: 2px solid red;
}

.carousel button:hover hr {
  background-color: red;
}

.carousel button:disabled {
  background-color: rgba(128, 128, 128, 0.274);
}

.carousel button:disabled:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: rgba(128, 128, 128, 0.274);
  border: 2px solid transparent;
}

.carousel button:disabled:hover hr {
  background-color: white;
}

.carousel .slide {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  width: 100%;
}

.carousel .slide a {
  margin: 20px;
  max-width: 350px;
}

.carousel .slide.shift-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.carousel .slide img {
  width: 100%;
  cursor: pointer;
}

.carousel .slide:first-of-type {
  position: relative;
}

footer {
  min-height: 200px;
  margin-top: -200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: black;
  color: #f0f0f0;
}

footer p span {
  color: red;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer div h3 {
  margin: 0;
}

footer div svg {
  fill: red;
  position: relative;
  bottom: -6px;
  width: 12px;
}

footer div nav {
  width: 100px;
  list-style: none;
  cursor: pointer;
}

footer div nav li:hover {
  font-weight: 700;
  color: red;
}

footer div nav li:hover svg {
  width: 10px;
  -webkit-transition: width 200ms;
  transition: width 200ms;
}

footer div nav li svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 0px;
}

.index {
  margin-bottom: 200px;
  width: 100%;
}

.index .nav {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.671)), to(rgba(110, 110, 110, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.671), rgba(110, 110, 110, 0));
}

.index .nav nav a {
  color: white;
}

.index .nav nav hr {
  background-color: white;
}

.index header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: white;
}

.index header .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-position: top;
  background-size: cover;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.index header .bg1 {
  background-image: url("../../public/slideshow/pexels-victor-freitas-841130v2-tiny.jpg");
  -webkit-animation: animateBG1 24s infinite;
          animation: animateBG1 24s infinite;
  opacity: 1;
}

.index header .bg2 {
  -webkit-animation: animateBG2 24s infinite;
          animation: animateBG2 24s infinite;
  opacity: 0;
}

.index header .bg3 {
  -webkit-animation: animateBG3 24s infinite;
          animation: animateBG3 24s infinite;
  opacity: 0;
}

.index header h1 {
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
  position: absolute;
  top: 30vh;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 400;
}

.index header h1 .red-text {
  color: red;
  font-weight: 800;
}

.index .site-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  text-align: center;
}

.index .site-preview div {
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
  background-color: #d8d8d8;
  padding: 20px 5vw;
}

.index .site-preview div:nth-of-type(2) {
  background-color: #afafaf;
}

.index .site-preview div h2 {
  padding: 50px 0;
  font-size: 32px;
}

.index .site-preview div p {
  padding: 60px 0;
  font-size: 20px;
}

.index .site-preview div hr {
  border: none;
  height: 2px;
  width: 30%;
  background-color: white;
}

.index .site-preview div a {
  color: red;
  -webkit-transition: text-shadow 500ms;
  transition: text-shadow 500ms;
}

.index .site-preview div a:hover {
  text-shadow: 2px -1px 8px white;
}

.index .about-preview {
  max-width: 1050px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 180px;
  padding-bottom: 200px;
}

.index .about-preview h2 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  font-size: 40px;
}

.index .about-preview h2 span {
  -webkit-text-decoration: underline solid red;
          text-decoration: underline solid red;
  text-underline-offset: 12px;
}

.index .about-preview div {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.index .about-preview div p {
  font-size: 25px;
}

.index .about-preview div a {
  background-color: red;
  padding: 15px 25px;
  margin: 30px 0;
  border-radius: 50px;
  color: white;
  font-size: 22px;
  border: 2px solid transparent;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  text-transform: uppercase;
}

.index .about-preview div a:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.index .products-preview {
  background-color: lightgray;
  border: 2px solid black;
  min-height: 400px;
  text-align: center;
  padding-top: 180px;
  padding-bottom: 200px;
}

.index .products-preview h2 {
  font-size: 40px;
  padding: 40px 0;
}

.index .products-preview p {
  font-size: 25px;
  padding-bottom: 40px;
}

.index .apparel-preview {
  background-color: #f8f8f8;
  padding-top: 80px;
  padding-bottom: 200px;
}

.index .apparel-preview h2 {
  font-size: 40px;
  text-align: center;
  margin: 35px 0;
}

.about {
  min-height: 100vh;
  padding-top: 200px;
  color: black;
  text-align: center;
  margin-bottom: 200px;
}

.about .nav nav a:nth-of-type(1) hr {
  background-color: red;
  width: 100%;
  height: 3px;
}

.products {
  min-height: 100vh;
  padding-top: 200px;
  color: black;
  text-align: center;
}

.products .nav nav a:nth-of-type(2) hr {
  background-color: red;
  width: 100%;
}

.apparel {
  min-height: 100vh;
  padding-top: 200px;
  color: black;
  text-align: center;
  margin-bottom: 200px;
}

.apparel .nav nav a:nth-of-type(3) hr {
  background-color: red;
  width: 100%;
}

.apparel .shirt-div {
  max-width: 1250px;
  margin: auto;
  padding-bottom: 200px;
}

.apparel .shirt-div img {
  width: 100%;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding-top: 200px;
  margin-bottom: 200px;
  color: black;
  text-align: center;
  overflow: hidden;
}

.contact:before {
  content: '';
  z-index: -1;
  width: 520px;
  height: 160px;
  position: absolute;
  right: -200px;
  bottom: -100px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-image: url("../../public/assets/tiny/asn-logo-nowords.png");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.contact .nav nav a:nth-of-type(4) hr {
  background-color: red;
  width: 100%;
}

.contact h2 span {
  color: red;
}

.contact .page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 200px;
  max-width: 1000px;
  margin: auto;
}

.contact .page-container .left {
  margin-right: 80px;
}

.contact .page-container .left p {
  text-align: left;
  font-size: 17px;
}

.contact .page-container .left p a {
  color: red;
}

.contact .page-container form div {
  position: relative;
  text-align: left;
  padding: 20px 0;
  width: 500px;
}

.contact .page-container form div label {
  height: 40px;
}

.contact .page-container form div input {
  position: absolute;
  left: 100px;
  width: 500px;
  height: 40px;
  font-size: 17px;
}

.contact .page-container form div .feedback {
  height: 30px;
  color: red;
}

.contact .page-container form div button {
  background-color: red;
  color: white;
  height: 40px;
  width: 100px;
  border: none;
  font-size: 20px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.contact .page-container form div button:hover {
  background-color: #e40000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact .page-container form .message-div {
  height: 120px;
}

.contact .page-container form .message-div textarea {
  position: absolute;
  left: 100px;
  width: 500px;
  height: 100%;
  font-size: 17px;
}

@-webkit-keyframes animateBG1 {
  30%,
  100% {
    opacity: 1;
  }
  34%,
  96% {
    opacity: 0;
  }
}

@keyframes animateBG1 {
  30%,
  100% {
    opacity: 1;
  }
  34%,
  96% {
    opacity: 0;
  }
}

@-webkit-keyframes animateBG2 {
  30%,
  67% {
    background-image: url("../../public/slideshow/pexels-pixabay-40751v2-tiny.jpg");
    opacity: 0;
  }
  34%,
  63% {
    opacity: 1;
  }
}

@keyframes animateBG2 {
  30%,
  67% {
    background-image: url("../../public/slideshow/pexels-pixabay-40751v2-tiny.jpg");
    opacity: 0;
  }
  34%,
  63% {
    opacity: 1;
  }
}

@-webkit-keyframes animateBG3 {
  63%,
  100% {
    background-image: url("../../public/slideshow/pexels-run-ffwpu-2524739v2-tiny.jpg");
    opacity: 0;
  }
  67%,
  96% {
    opacity: 1;
  }
}

@keyframes animateBG3 {
  63%,
  100% {
    background-image: url("../../public/slideshow/pexels-run-ffwpu-2524739v2-tiny.jpg");
    opacity: 0;
  }
  67%,
  96% {
    opacity: 1;
  }
}
/*# sourceMappingURL=App.css.map */