.apparel {
   min-height: 100vh;
   padding-top: 200px;
   color: black;
   text-align: center;
   margin-bottom: 200px;

   .shirt-div {
      max-width: 1250px;
      margin: auto;
      padding-bottom: 200px;
      img {
         width: 100%;
      }
   }
}
