.App * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App a {
  color: inherit;
  text-decoration: none;
}

.nav {
  z-index: 5;
}

.nav img {
  height: 50px;
  position: absolute;
  top: 6px;
  left: 10px;
}

.nav nav {
  max-width: 1250px;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav nav hr {
  background-color: black;
}

.nav nav a {
  color: black;
  padding: 0 20px;
  font-size: 18px;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f8f8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel button {
  height: 50px;
  background-color: red;
  border: none;
  border: 2px solid transparent;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.carousel button hr {
  background-color: white;
  border: none;
  height: 2px;
  width: 20px;
  border-radius: 2px;
}

.carousel button.left .top {
  -webkit-transform: translateY(-3px) translateX(-1px) rotate(-45deg);
          transform: translateY(-3px) translateX(-1px) rotate(-45deg);
}

.carousel button.left .bottom {
  -webkit-transform: translateY(2px) translateX(-1px) rotate(45deg);
          transform: translateY(2px) translateX(-1px) rotate(45deg);
}

.carousel button.right .top {
  -webkit-transform: translateY(-3px) translateX(1px) rotate(45deg);
          transform: translateY(-3px) translateX(1px) rotate(45deg);
}

.carousel button.right .bottom {
  -webkit-transform: translateY(2px) translateX(1px) rotate(-45deg);
          transform: translateY(2px) translateX(1px) rotate(-45deg);
}

.carousel button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.carousel .slide {
  width: 400px;
  padding: 20px;
}

.carousel .slide img {
  width: 100%;
}

footer {
  height: 200px;
  margin-top: -200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  background-color: #d8d8d8;
}

footer nav {
  list-style: none;
}

footer nav a {
  color: black;
}

footer nav a:hover {
  font-weight: 500;
}

.index {
  margin-bottom: 200px;
}

.index header {
  width: 100%;
  min-height: 100vh;
  color: white;
}

.index header .background {
  height: 100vh;
  width: 100%;
  background-image: url("./assets/pexels-pixabay-209969 (1).jpg");
  background-position: top;
  background-size: cover;
}

.index header h1 {
  position: absolute;
  top: 30vh;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 400;
}

.index header h1 .red-text {
  color: red;
  font-weight: 800;
}

.index .site-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  text-align: center;
}

.index .site-preview div {
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
  background-color: #d8d8d8;
  padding: 20px 5vw;
}

.index .site-preview div:nth-of-type(2) {
  background-color: #afafaf;
}

.index .site-preview div h2 {
  padding: 30px 0;
  font-size: 32px;
}

.index .site-preview div p {
  padding: 40px 0;
  font-size: 20px;
}

.index .site-preview div hr {
  border: none;
  height: 2px;
  width: 30%;
  background-color: white;
}

.index .site-preview div a {
  color: red;
  -webkit-transition: text-shadow 500ms;
  transition: text-shadow 500ms;
}

.index .site-preview div a:hover {
  text-shadow: 2px -1px 8px white;
}

.index .about-preview {
  max-width: 1050px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 180px;
  padding-bottom: 200px;
}

.index .about-preview h2 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  font-size: 40px;
}

.index .about-preview h2 span {
  -webkit-text-decoration: underline solid red;
          text-decoration: underline solid red;
  text-underline-offset: 12px;
}

.index .about-preview div {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.index .about-preview div p {
  font-size: 25px;
}

.index .about-preview div a {
  background-color: red;
  padding: 15px 25px;
  border-radius: 50px;
  color: white;
  font-size: 20px;
}

.index .about-preview div a:hover {
  -webkit-filter: brightness(1.7);
          filter: brightness(1.7);
}

.index .products-preview {
  background-color: lightgray;
  border: 2px solid black;
  min-height: 400px;
  width: 100vw;
  text-align: center;
  padding-top: 180px;
  padding-bottom: 200px;
}

.index .products-preview h2 {
  font-size: 40px;
}

.index .products-preview p {
  font-size: 25px;
}

.index .apparel-preview {
  min-height: 400px;
  width: 100vw;
  padding-top: 80px;
  padding-bottom: 200px;
}

.index .apparel-preview h2 {
  font-size: 40px;
  text-align: center;
}

.about {
  min-height: 100vh;
  padding-top: 200px;
  color: black;
  text-align: center;
}

.products {
  padding-top: 200px;
  color: black;
  text-align: center;
}

.apparel {
  padding-top: 200px;
  color: black;
  text-align: center;
}

.contact {
  padding-top: 200px;
  color: black;
  text-align: center;
}
/*# sourceMappingURL=App.css.map */